name: TEST

on: workflow_dispatch

jobs:
  test:
    name: TEST
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: test
        run: echo ${{ secrets.GITHUB_TOKEN }}
